.home-page{

  .header-img {
    width: 960px;
    height: 300px;
    overflow: hidden;
  }

  .nav-card-container{
    width: 80%;

    .nav-card{
      .ant-card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
