.analysis-container{
  .gender-pie{
    width: 80%;
  }
  .age-distribute-container{
    width: 80%;
  }
  .state-distribute{
    width: 80%;
    .antd-pro-charts-pie-legend{
      min-width: 300px;
    }
  }
}
