.user-edit-container {
    .user-info-container {
        position: relative;
        .button-container {
            position: absolute;
            top: 0;
            right: 3rem;
        }
    }
}
