.user-edit-container {
    display: flex;
    justify-content: center;
    .user-info-container {
        position: relative;
        width: 86%;
        .button-container {
            position: absolute;
            top: 0;
            right: 3rem;
        }
    }
}
