.img-upload-container{
  .img-upload-side{
    height: 100%;
    width: 100%;
    padding: 15px;
    border: 1px dashed #999;
  }

  .img-upload-content{
    .result-container{
      .title{
        border-bottom: 1px map-get($colors,"gray") dashed;
      }
      .result-show{
        border: 1px map-get($colors,"gray") dashed;
        height: 80%;
      }
      .result-img{
        min-height: 100px;
      }
    }
  }

}
