.img-upload-container{
  .spin-container{
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px 50px;
  }

  .img-upload-side{
    height: 100%;
    width: 100%;
    padding: 15px;
    border: 1px dashed #999;

    .file-upload-container{

    }
  }

  .img-index{
    width: 160px;
    text-align: center;
  }


  .img-upload-content{
    .result-container{
      .title{
        border-bottom: 1px map-get($colors,"gray") dashed;
      }
      .result-show{
        border: 1px map-get($colors,"gray") dashed;
        height: 80%;
      }
      .result-img{
        min-height: 100px;
      }
    }
  }

}
