.img-upload-container{
  .img-upload-side{
    height: 100%;
    width: 15%;
    border: 1px dashed #999;
     .ant-upload {
      width: 10.714rem;
      height: 9.286rem;
    }
  }

  .img-upload-content{
    .result-container{
      height: 80%;
      .title{
        border-bottom: 1px map-get($colors,"gray") dashed;
      }
      .result-show{
        border: 1px map-get($colors,"gray") dashed;
        height: 80%;
      }

      .result{
        height: 60%;
      }
    }
  }

}
