.layout{
  margin: 1rem;
  .ant-layout-sider{
    background-color:#fff;
  }


  .ant-layout-header{
    background-color: #fefefe;
    display: flex;
    align-items: center;
    line-height: inherit;

    .title-container{
      .ant-layout-sider-children{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }


    .header-nav-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-container{
      .ant-layout-sider-children{
        background-color: #fff;
        display: flex;
        align-items: center;
      }

    }

  }
}
